
<div class="container-fluid hidden-phone custom-fluid-cont">
    <div class="row-fluid">
        <div id="da-slider" class="da-slider">
            <div class="da-slide">
                <h1>where da hoes?</h1>
                <p>Find out why you simply cannot live without our product. It's so cool, you'll tell your parents about it and explain it to them several times without getting annoyed. We promise we won't let you down. Try us out!</p>
                <a href="#" class="da-link">Read more &rarr;</a>
                <div class="da-img"><img src="img/4.png" alt="image01" /></div>
            </div>
            <div class="da-slide">
                <h1>Feature packed</h1>
                <p>We have so many features that our office has a special storage floor just for them. They aren't noisy or anything like that, but there's just so many of them we don't have a better place to put them.</p>
                <a href="#" class="da-link">Read more &rarr;</a>
                <div class="da-img"><img src="img/2.png" alt="image01" /></div>
            </div>
            <div class="da-slide">
                <h1>This is the third slide</h1>
                <p>If you got this far, there's a chance you really like our theme. Be sure to check out all the really nice pages we've added for you and don't hesitate in shooting us a question if you need anything cleared. Have fun!</p>
                <a href="#" class="da-link">Read more &rarr;</a>
                <div class="da-img"><img src="img/3.png" alt="image01" /></div>
            </div>
            <nav class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>
            </nav>
        </div>
    </div><!-- /row-fluid -->
</div><!-- /container-fluid -->

<div class="container">
    <div class="row ">
        <div class="page-header span12">
            <h2>StartupTheme is trusted by over 9000 customers world wide. <a href="tour.html">Take the tour</a> now to find out why!</h2>
        </div>
    </div><!-- /row -->

    <div class="row top-space">
        <div class="span4">
            <h3><i class="icon-cogs icon-large baseline" style="font-size:16px"></i>&nbsp; Optimization</h3>
            <p>We made sure every piece of Javascript and CSS is optimized. Additionally you can combine styles and scripts so your site won't make unnecessary HTTP requests.</p>
        </div>
        <div class="span4">
            <h3><i class="icon-fullscreen icon-large baseline" style="font-size:16px"></i>&nbsp; Responsive design</h3>
            <p>Either in a phone, tablet, laptop or desktop, the design will be perfectly optimized. Our components are scaled according to a range of resolutions and devices to provide a consistent experience, no matter what.</p>
        </div>
        <div class="span4">
            <h3><i class="icon-user icon-large baseline" style="font-size:16px"></i>&nbsp; Make it your own</h3>
            <p>While the design is beautiful out of the box, we made sure you can give it your personal touch without breaking a sweat. From the carousel to the styles, the code is organized neatly so you have a nice time tweaking it.</p>
        </div>
    </div><!-- /row -->
    <div class="row top-space">
        <div class="span4">
            <h3><i class="icon-sitemap icon-large baseline" style="font-size:16px"></i>&nbsp; Organization</h3>
            <p>Optimizing the space with a reasonable ratio between style and substance StartupTheme offers you a lot of flexibility to present and organize your content. Make sure your message is heard.</p>
        </div>
        <div class="span4">
            <h3><i class="icon-group icon-large baseline" style="font-size:16px"></i>&nbsp; Friendly Support</h3>
            <p>Just shoot us an email and we'll be glad to give you a hand with anything you need. Or just say hi!</p>
        </div>
        <div class="span4">
            <h3><i class="icon-retweet icon-large baseline" style="font-size:16px"></i>&nbsp; User Convertion</h3>
            <p>With a clean design you'll be more likely to keep users untill they've read what you have to offer. Having a disorganized page scares away users and is awful for your brand.</p>
        </div>
    </div><!-- /row -->
    <br />
    <div class="row hidden-phone">
        <div class="span12">
            <h3>The press we haven't got can't stop not talking about us</h3>
        </div>
    </div>
    <div class="row top-space hidden-phone">
        <div class="span3">
            <a href="#"><div class="press techcrunch hidden-tablet"></div></a>
        </div>
        <div class="span3">
            <a href="#" class="press webbys"></a>
        </div>
        <div class="span3">
            <a href="#" class="press lifehacker"></a>
        </div>
        <div class="span3">
            <a href="#" class="press betakit"></a>
        </div>
    </div><!-- /row -->
    <div class="row top-space">
        <div class="span12 top-space">
            <div class="hero-unit">
                <h1>StartupTheme is what you've been waiting for. <small><a href="plans.html">Check out our plans</a> and find out which one best fits <strong>your</strong> needs!</small></h1>
            </div>
        </div>
    </div>
</div><!-- /container -->
